<div class="page-container">
    <div class="main-container">
        <div class="header">
            <div class="title-container">
                <h2>Liste des demandes</h2>
                <p>Gérer les demandes d'autorisation de travaux.</p>
            </div>
            <button mat-raised-button class="primary" (click)="openAddRequestDialog()">
                <mat-icon>add</mat-icon> Ajouter
            </button>
        </div>
    
        <app-request-card *ngFor="let request of this.requestsService.requests | async"
            [request]="request"></app-request-card>
    </div>
</div>